body{
	background-color: #E2E2E2;
}
.container{
	background-color: white;
	padding-bottom: 10%;
	margin-bottom: 20%;
	border-radius: 15px;
	border: 1px solid black;
}
.jumbotron{
	border: 1px black solid;
	border-radius: 10px;
}
.img{
	border: 1px solid black;
	border-radius: 10px;
}